body{
    background-color: #282828;
    margin: 25px;
}

h1{
    text-align: center;
    font-size: 100px;
    font-weight: 200;
    font-family: 'Roboto', 'sans-serfi';
}

h2{
    text-align: center;
    font-family: 'Roboto', 'sans-serfi';
    width: 100%;
}

h3{
    font-family: 'Roboto', 'sans-serfi';
    color: white;
}

input{
    margin-bottom: 15px;
}

#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 25px;
}

#add-device{
    background-color: #282828;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #0052f5;
    border-width: 5px;
    border-style: solid;
}

#add-device h1{
    margin: 0;
    margin-top: 25px;
    position: relative;
}

#add-device h2{
    margin: 0;
    margin-bottom: 75px;
    position: absolute;
}

.widget{
    background-color: #0052f5;
    border-radius: 25px;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.widget .settings{
    background-color: #0052f5;
    border-style: none;
}

